.header {
  display: grid;
  grid-template-columns: 280px 1105px 180px;
  grid-gap: 0px;
  justify-content: center;
  align-items: end; }

.footer {
  display: grid;
  grid-template-columns: 782px 783px;
  grid-gap: 0px;
  justify-content: space-around;
  align-items: end; }

.sidebar {
  grid-area: sidebar; }

.content {
  grid-area: content; }

.wrapper {
  display: grid;
  grid-template-columns: 200px 450px 450px 450px;
  grid-gap: 5px;
  justify-content: center;
  align-items: none;
  grid-template-areas: "sidebar content content content"; }
  .wrapper .box.content {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-gap: 0px;
    justify-content: none;
    align-items: none; }
  .wrapper .box-a {
    grid-column: 1 / span 2; }
  .wrapper .box-b {
    grid-column: 3;
    grid-row: 1 / span 2; }
  .wrapper .box-c {
    grid-column: 1;
    grid-row: 2 / span 2; }
  .wrapper .box-d {
    grid-column: 2;
    grid-row: 2; }
  .wrapper .box-e {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2; }
  .wrapper .box-f {
    grid-column: 1;
    grid-row: 4; }
  .wrapper .box-g {
    grid-column: 1 / span 2;
    grid-row: 5; }
  .wrapper .box-h {
    grid-column: 3;
    grid-row: 5; }

.order {
  display: grid;
  grid-template-columns: 800px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center; }

.price {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-gap: 100px;
  justify-content: center;
  align-items: start; }
  .price .d1, .price .d2 {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 0px;
    justify-content: none;
    align-items: none; }

.h1-price, .h1-contact {
  grid-column: 1 / span 2;
  grid-row: 1; }

.contacts {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center; }

[class^='filter-parameters-'] {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  [class^='filter-parameters-'] li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a8a8a8;
    font-size: 16px; }

.filter-header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #a12424;
  font-size: 20px; }

.wrapper {
  background: black; }

[class^='box-'] {
  position: relative; }

.text {
  height: 30%;
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7); }

[class^='box-']:hover .text {
  display: block; }

.header {
  padding: 10px 0px 10px 0px; }

.header {
  background: black; }

.navigation {
  text-align: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 25px; }
  .navigation li {
    display: inline-block; }
  .navigation li {
    padding-right: 40px; }
    .navigation li a {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #a8a8a8;
      font-size: 25px;
      text-decoration: none; }
      .navigation li a:hover {
        color: #a12424; }

.social-link {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 25px; }
  .social-link li {
    display: inline-block; }
  .social-link li {
    padding-right: 15px; }

.logo {
  margin-left: 15px;
  margin-bottom: 3px; }

.footer {
  background: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #a12424;
  font-size: 15px; }
  .footer div {
    margin-left: 10px;
    margin-right: 10px; }
  .footer .developer {
    text-align: end; }

.order {
  margin-top: 100px; }
  .order .h1-order {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a12424;
    font-size: 34px;
    text-align: center; }
  .order p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a8a8a8;
    font-size: 20px;
    text-align: center; }
  .order .form-order {
    text-align: center; }
    .order .form-order input, .order .form-order textarea {
      width: 500px;
      margin: 15px;
      border: none;
      padding: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #747474;
      font-size: 15px; }
    .order .form-order .button {
      background: #a12424;
      width: 530px;
      color: white; }

.price {
  margin-top: 100px; }
  .price .h1-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 34px;
    text-align: center;
    margin: 0px;
    padding: 20px;
    background: black; }
  .price .d1, .price .d2 {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px; }
    .price .d1 div, .price .d2 div {
      text-align: center;
      padding: 15px; }
      .price .d1 div:nth-child(4n-1), .price .d1 div:nth-child(4n+0), .price .d2 div:nth-child(4n-1), .price .d2 div:nth-child(4n+0) {
        background: #e9e9e9; }
      .price .d1 div:nth-child(2), .price .d1 div:nth-child(3), .price .d2 div:nth-child(2), .price .d2 div:nth-child(3) {
        background: #a12424;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        font-size: 22px; }

.contacts {
  margin-top: 100px;
  margin-bottom: 50px; }
  .contacts .h1-contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a12424;
    font-size: 34px;
    text-align: center; }
  .contacts p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a8a8a8;
    font-size: 20px;
    text-align: center; }

body {
  margin: 0;
  background: black; }
