
.wrapper {
    background: black;
    
}
[class^='box-']{
    position:relative;
}

.text{
    @extend %text-on-img;
    height: 40%;
    display: none;
}
[class^='box-']:hover .text{
    display: block;
}


