
.wrapper {
    background: black;
    
}
[class^='box-']{
    position:relative;
}

.text{
    @include text-on-img(30%, $text-background, none);
}
[class^='box-']:hover .text{
    display: block;
}


