[class^='filter-parameters-']{
    list-style: none;
    margin: 0;
    padding-left:0;  
    li{
        @extend %font-15-dark;
    }
}

.filter-header{
    color: $deep_red;
    font-size: 20px;
}

