.header{
    display: grid;
    grid-template-columns: 280px 1105px 180px;
    justify-content: center;
    align-items: end;
}
.footer{
    display: grid;
    grid-template-columns: 782px 783px;
    justify-content: space-around;
    align-items: end;
}
.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 450px 450px 450px;
    grid-gap: 5px;
    justify-content: center;
    grid-template-areas:
    "sidebar content content content";
    .box {
        &.content{
            display: grid;
            grid-template-columns:450px 450px 450px;
        }
        &-a {
            grid-column: 1 / span 2;
        }
        &-b {
            grid-column: 3 ;
            grid-row: 1 / span 2;
        }
        &-c {
            grid-column: 1 ;
            grid-row: 2 / span 2 ;
        }
        &-d {
            grid-column: 2 ;
            grid-row: 2 ;
        }
        &-e {
            grid-column: 2 / span 2;
            grid-row: 3 / span 2; 
        }
        &-f {
            grid-column: 1;
            grid-row: 4;
        }
        &-g {
            grid-column: 1 / span 2;
            grid-row: 5;
        }
        &-h {
            grid-column: 3;
            grid-row: 5;
        }
    }
}

.order{
    display: grid;
    grid-template-columns: 800px;
    grid-gap: 10px;
    @extend %grid_center_center;
    
}
.price{
    display: grid;
    grid-template-columns: 700px 700px;
    grid-gap: 100px;
    justify-content: center;
    align-items: start;
    .d1,.d2{
        @extend %grid_350_350;
    }
}
.h1-price, .h1-contact{
    grid-column: 1 / span 2;
    grid-row: 1;
}
.contacts{
    @extend %grid_350_350;
    grid-gap: 50px;
    @extend %grid_center_center;
    
}