.header{
    @include grid(280px 1105px 180px, center, end, 0px);
}
.footer{
    @include grid(782px 783px, space-around, end, 0px);
}
.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.wrapper {
    @include grid(200px 450px 450px 450px, center, none, 5px);
    grid-template-areas:
    "sidebar content content content";
    .box {
        &.content{
            @include grid(450px 450px 450px, none, none, 0px);
        }
        &-a {
            grid-column: 1 / span 2;
        }
        &-b {
            grid-column: 3 ;
            grid-row: 1 / span 2;
        }
        &-c {
            grid-column: 1 ;
            grid-row: 2 / span 2 ;
        }
        &-d {
            grid-column: 2 ;
            grid-row: 2 ;
        }
        &-e {
            grid-column: 2 / span 2;
            grid-row: 3 / span 2; 
        }
        &-f {
            grid-column: 1;
            grid-row: 4;
        }
        &-g {
            grid-column: 1 / span 2;
            grid-row: 5;
        }
        &-h {
            grid-column: 3;
            grid-row: 5;
        }
    }
}

.order{
    @include grid(800px, center,center, 10px);
}
.price{
    @include grid(700px 700px, center, start, 100px);
    .d1,.d2{
        @include grid(350px 350px, none,none, 0px);
    }
}
.h1-price, .h1-contact{
    grid-column: 1 / span 2;
    grid-row: 1;
}
.contacts{
    @include grid(300px 300px, center, center, 50px);
}