.header{
    background: $color-layout;
    padding: 10px 0px 10px 0px;
}


.navigation{
    text-align: center;
    @extend %list_horizontal;
    li{
        padding-right:40px;
        a {
            @extend %font;
            font-size: 25px;
            color: $light-gray;
            text-decoration: none;
            &:hover{
                color: $deep-red;
            }
        }       
    }
}

.social-link{
    @extend %list_horizontal;
    li{
        padding-right:15px;
    }
}
.logo{
    margin-left: 15px;
    margin-bottom: 3px;
}

.footer{
    background: $color-layout;
    @extend %font;
    color: $deep-red;
    font-size: 15px;
    div{
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .developer{
        text-align: end;
    }
}

