%list_horizontal {
    list-style: none;
    margin: 0;
    padding-left:0;
    li{
        display: inline-block;
    }
    padding-bottom: 15px;
}


%grid_350_350 {
    display: grid;
    grid-template-columns: 350px 350px;
}
%grid_center_center{
    justify-content: center;
    align-items: center;
}

%p-gray{
    font-size: 20px;
    color: $light-gray;
    text-align:center;
}

%h1-red{
    font-size:34px;
    color: $deep-red;
    text-align:center;
}
%h1-white{
    font-size:34px;
    color: white;
    text-align:center;
}

@mixin list_vertical(){
    list-style: none;
    margin: 0;
    padding-left:0;    
}

@mixin font($font-size, $color) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color;
    font-size: $font-size;
}

@mixin grid($grid-template-columns, $justify-content, $align-items, $grid-gap){
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-gap: $grid-gap;
    justify-content: $justify-content;
    align-items: $align-items;

}

%text-on-img{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    background: $text-background;
}



