.order{
    margin-top: $margin-top-content;
    .h1-order{
        @extend %h1-red;
    }
    p{
        @extend %p-gray;
    }
    .form-order{
        text-align: center;
        input, textarea{
            width:500px;
            margin: 15px;
            border: none;
            padding: 15px;
            font-size: 15px;
            color: $dark-gray;
           @extend %font-15-dark;
        }
        .button{
        background: $deep-red;
        width: 530px;
        color: white;

        }
    }
}

