.price{
    margin-top: $margin-top-content;
    .h1-price{
        @extend %h1-white;
        margin:0px;
        padding:20px;
        background: black;
    }
    .d1, .d2{
        div{
            text-align: center;
            padding:15px;
            &:nth-child(4n-1),&:nth-child(4n+0){
                background: $more-light-gray;
            }
            &:nth-child(2){
                background: $deep-red;
                font-size:20px;
                color: white;
            } 
            &:nth-child(3){
                @extend div:nth-child(2);
            }
        }
        background: white;
        font-size: 20px;
        color: black;

    }
}
