.slider_container{
    position: relative;
    width: 1565px;
    height: 800px;
    overflow: hidden;
    .slider{
        position: relative;
        width: 10000px;
        height: 800px;
        img{
            float:left;
        }
        .text{
            @extend %text-on-img;
            height: 30%;
            display: block;
        }
    }
   // .prv_b, .nxt_b{}