$deep-red: #a12424;
$deep-red-background:rgba(163, 36, 36, 0.2);
$light-gray: rgb(168, 168, 168);
$more-light-gray:rgb(233, 233, 233);
$dark-gray: rgb(116, 116, 116);
$text-background: rgba(255,255,255, 0.7);
$color-layout: black;

$margin-top-content:100px;